<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
  <div class="container">
    <div class="left-section">
      <a class="logo" href="/"
        ><img
          loading="lazy"
          decoding="async"
          src="../../assets/images/logo.png"
          alt="logo"
          width="264"
          height="78"
      /></a>
    </div>
    <div class="right-section">
      <div class="lists">
        <ul>
          <li>
            <h2>sitemap</h2>
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/about">About Us</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
        </ul>
        <ul>
          <li>
            <h2>Services</h2>
          </li>
          <li>Tax preparation</li>
          <li>Tax filing services</li>
          <li>Professional tax filing</li>
          <li>Business tax preparation</li>
          <li>Individual tax services</li>
        </ul>
        <ul>
          <li>
            <h2>Contact</h2>
          </li>
          <li>
            <a href="/contact">
              12739 50 St NW, <br />
              Edmonton, AB T5A 4L8
            </a>
          </li>
          <li>
            <a href="tel:{{client.phoneForTel}}"> T: (780) 802-8770 </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="credit">
    <span>Designed and Developed by</span>
    <a href="/" target="_blank" rel="noopener">DreamDesigner</a>
    <span class="copyright"> Copyright {% year %} - Present</span>
  </div>
</footer>
