---
title: "About"
description: "Learn about our comprehensive accounting services, including bookkeeping, tax preparation, and financial consulting. Our experienced team is dedicated to helping you manage your finances effectively and achieve your financial goals."
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1403">
  <div class="cs-container">
    <span class="cs-int-title">About Us</span>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/Banneracross.jpg"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/Banneracross.jpg"
    />
    <img
      decoding="async"
      src="/assets/images/Banneracross.jpg"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-1308">
  <div class="cs-container">
    <!-- Left Image Section -->
    <div class="cs-image-group">
      <!--Floating Box-->
      <div class="cs-box">
        <span class="cs-desc">Detail Oriented</span>
      </div>
      <!--Image-->
      <picture class="cs-picture">
        <source
          media="(max-width: 600px)"
          srcset="/assets/images/sittingKorreye.jpg"
        />
        <source
          media="(min-width: 601px)"
          srcset="/assets/images/sittingKorreye.jpg"
        />
        <img
          loading="lazy"
          decoding="async"
          src="/assets/images/sittingKorreye.jpg"
          alt="meeting"
          width="630"
          height="630"
          aria-hidden="true"
        />
      </picture>
    </div>
    <!-- Right Content Section-->
    <div class="cs-content">
      <span class="cs-topper">About Us</span>
      <h2 class="cs-title">Get Help on Finance</h2>
      <p class="cs-text">
        With over a decade of dedicated service, Koreye Accounting and Taxation
        is proud to be your local expert in Edmonton, Alberta. Led by Koreye ,
        our team brings extensive experience and a deep understanding of the
        local business landscape. At Koreye Accounting and Taxation, we're
        committed to providing unparalleled service and support to our clients.
        Our comprehensive range of services, including full-cycle monthly
        accounting, strategic tax planning, and accounting software migration,
        are tailored to meet the unique needs of businesses in Edmonton and
        beyond. We understand the importance of trust and reliability when it
        comes to your financial matters. That's why we guarantee that choosing
        Koreye Accounting and Taxation means choosing a partner who will never
        let you down. With our expertise, personalized approach, and unwavering
        dedication to your success, we're confident that we can exceed your
        expectations and help you achieve your financial goals.
      </p>
      <a
        class="cs-button-solid"
        aria-label="learn more about our programs"
        href="/contact"
        >Contact Us Now</a
      >
    </div>
  </div>
</section>

<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<!-- No headers, so no section tag -->
<div id="stats-315">
  <ul class="cs-card-group">
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/person-grey.svg"
          alt="icon"
          width="35"
          height="40"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">10+</span>
        <span class="cs-stat">Years Experience</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/group-grey.svg"
          alt="icon"
          width="40"
          height="35"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">100's</span>
        <span class="cs-stat">Happy Customers</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/award-grey.svg"
          alt="icon"
          width="40"
          height="40"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">10/10</span>
        <span class="cs-stat"> Client Reviews</span>
      </div>
    </li>
    <li class="cs-item">
      <picture class="cs-picture">
        <img
          class="cs-icon"
          src="https://csimg.nyc3.digitaloceanspaces.com/Stats/check-grey.svg"
          alt="icon"
          width="40"
          height="40"
          loading="lazy"
          decoding="async"
          aria-hidden="true"
        />
      </picture>
      <div class="cs-flex-group">
        <span class="cs-number">30+</span>
        <span class="cs-stat">Migrations</span>
      </div>
    </li>
  </ul>
</div>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-64">
  <div class="cs-container">
    <div class="cs-content">
      <span class="cs-topper">TESTIMONIALS</span>
      <h2 class="cs-title">What Our Clients Have To Say About Us</h2>
      <p class="cs-text">
        Our clients' satisfaction speaks volumes. They praise not just our
        expertise, but also our genuine commitment and attentiveness.
      </p>
    </div>
    <ul class="cs-card-group">
      <li class="cs-item">
        <img
          class="cs-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
          alt="profile"
          width="116"
          height="20"
        />
        <span class="cs-name">John Doe</span>
        <br />
        <p class="cs-item-text">
          Koreye Accounting delivered exceptional results! Their personalized
          approach and attention to detail left me thoroughly impressed.
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
          alt="profile"
          width="116"
          height="20"
        />
        <span class="cs-name">Jane Smith</span>
        <br />
        <p class="cs-item-text">
          Absolutely stellar service from Koreye Accounting! Their expertise and
          commitment to excellence shine through in every interaction
        </p>
      </li>
      <li class="cs-item">
        <img
          class="cs-img"
          aria-hidden="true"
          loading="lazy"
          decoding="async"
          src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg"
          alt="profile"
          width="116"
          height="20"
        />
        <span class="cs-name">Thomas Madden</span>
        <br />
        <p class="cs-item-text">
          Koreye Accounting surpassed all expectations! Their dedication to
          client satisfaction is truly commendable
        </p>
      </li>
    </ul>
    <a aria-label="read more reviews" href="/contact" class="cs-button-solid"
      >Book A Consultation</a
    >
  </div>
</section>
{% endblock %}
