---
title: "About"
description: "Meta description for the page"
preloadImg: "/assets/images/cabinets2.jpg"
permalink: "about/"
eleventyNavigation:
  key: About Us
  order: 200
---

{% extends "layouts/base.html" %} {% block head %}
<link rel="stylesheet" href="/assets/css/about.css" />
{% endblock %} {% block body %}
<!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1403">
  <div class="cs-container">
    <span class="cs-int-title">Services</span>
  </div>
  <!--Background Image-->
  <picture class="cs-background">
    <!--Mobile Image-->
    <source
      media="(max-width: 600px)"
      srcset="/assets/images/Banneracross.jpg"
    />
    <!--Tablet and above Image-->
    <source
      media="(min-width: 601px)"
      srcset="/assets/images/Banneracross.jpg"
    />
    <img
      decoding="async"
      src="/assets/images/Banneracross.jpg"
      alt="people laughing"
      width="1280"
      height="568"
      aria-hidden="true"
    />
  </picture>
</div>

{% endblock %}
